@model Domain.directory.JobTitle

<partial name="_AddHeading" />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobTitleName" class="control-label"></label>
                <input asp-for="JobTitleName" class="form-control" />
                <span asp-validation-for="JobTitleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitleDescription" class="control-label"></label>
                <input asp-for="JobTitleDescription" class="form-control" />
                <span asp-validation-for="JobTitleDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <partial name="_AddLinkBackToIndex"/>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
