@model IEnumerable<Domain.directory.JobTitle>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitleDescription)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitleDescription)
            </td>
        </tr>
}
    </tbody>
</table>
