@if (User.Identity.IsAuthenticated)
{

    <li class="navbar-nav dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false" id="navbarDropdownMenuLink" data-bs-toggle="dropdown">
            Manage
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownManuLink">
            <li>
                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Lookup" asp-action="Index">Lookup Values</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Report" asp-action="DownloadEmployees">Download Employees</a>
            </li>
        </ul>
    </li>

}
